<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义 user.home/.myapp 目录 -->
    <property name="LOG_DIR" value="${user.home}/" />

    <!-- 创建目录（logback 会自动创建） -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- 日志文件路径 -->
        <file>${LOG_DIR}/DataLocker.log</file>

        <!-- 日志滚动策略（按天切割） -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- 保留 7 天 -->
        </rollingPolicy>

        <!-- 日志格式 -->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根日志 -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
